* {
    margin: 0px;
    padding: 0px;
    font-size: 24px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgba(237, 236, 236, 0.90);
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../../common/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

hr {
    border: none;
    outline: none;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

.hide {
    display: none;
}

.main-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glass-block {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.85);
    border-left: 1px solid rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
}

.menu-main-block {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-block {
    width: 670px;
    height: 60px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-main-block {
    height: 15%;
}

.photo-and-menu-block {
    width: 770px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.photo-block {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../../common/images/fox_fight.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.photo-block-small {
    width: 40px;
    height: 40px;
}

.menu-item {
    height: 40px;
    width: 140px;
    backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.85),
                2px 2px 3px 0px rgba(0, 0, 0, 0.25); /* внешняя тень */
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.activate {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.85),
                2px 2px 3px 0px rgba(0, 0, 0, 0.25); /* внешняя тень */
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.menu-item-title {
    font-size: 16px;
    height: fit-content;
}

@media (max-width: 770px) {
    .menu-main-block {
        height: 20%;
    }

    .photo-and-menu-block {
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .menu-block {
        width: 335px;
        height: 100px;
        padding: 10px;
        flex-wrap: wrap;
    }
}

/* общий хром-стиль */
*::-webkit-scrollbar {
  height: 8px; /* влияет на горизонтальный */
  width: 8px;  /* влияет на вертикальный */
}

/* дорожка */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* ползунок */
*::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 4px;
}

/* ползунок при наведении */
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);
}

/* Стили для полей ввода */

/* input:date */
/* input:datetime */
.glass-input-datetime {
    width: fit-content;
    height: 30px;
    padding: 0px 16px;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    border-right: 1px solid rgba(255, 255, 255, 0.85);
}

/* input:text */
/* input:search */
/* input:textarea */
.glass-input-text, .glass-input-textarea {
    width: 200px;
    height: 30px;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    border-right: 1px solid rgba(255, 255, 255, 0.85);
    /* border-radius:  5px 5px 0px 0px !important; */
}
.glass-input-text::placeholder {
    color: rgba(210, 210, 210, 0.73);
}
.glass-input-textarea {
    width: 100%;
    height: fit-content;
    padding: initial;
    border-radius: 10px;
}

/* input:button */
.glass-input-button {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.85);
    border-left: 1px solid rgba(255, 255, 255, 0.85);
    font-size: 16px;
    cursor: pointer;
}
.glass-input-button:hover {
    background: rgba(255, 255, 255, 0.2);
}
.glass-input-button:active {
    border: none;
    outline: none;
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    border-right: 1px solid rgba(255, 255, 255, 0.85);
}

.small-border {
    border-radius: 10px;
}
.max-width {
    width: 100%;
}

/* input:checkbox */
.glass-input-checkbox {
    appearance: none; 
        -webkit-appearance: none;  /* Safari */
        -moz-appearance: none;     /* Firefox */
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    background: transparent;
    border: 1px solid #ACACAC;
    border-radius: 5px;  
    background: transparent;
    cursor: pointer;

    display: inline-block;
    vertical-align: middle;
}
.glass-input-checkbox:checked {
  background: rgba(255,255,255,0.3);  /* лёгкая подсветка */
  border-color: #858585;              /* цвет рамки при активном */
}
.glass-input-checkbox:checked::after {
  content: url('../../common/svgs/check-mark.svg');
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858585;
  text-align: center;
  line-height: 18px;
}

/* Стили для выпадающего списка */
.glass-select {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    position: relative;
}

.glass-select--title {
    font-size: 14px;
}

.glass-select--drop-list {
    position: relative;
    display: flex;
    flex-direction: column;
}

.glass-select--drop-list--items {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 30px;
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, .28);
    border-radius: 0px 0px 5px 5px;
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
.glass-select--drop-list--items hr {
    width: 95%;
    opacity: .4;
    border: none;
    border-top: 1px solid #fff;
}
.drop-list--items--show {
    display: flex;
    align-items: center;
    background-color: rgba(139, 139, 139, 0.66);
}

.glass-select--selected-items {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.glass-select--selected-item {
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    padding: 4px 5px;
    display: flex;
    gap: 5px;
}
.glass-select--selected-item > h6 {
    font-size: 14px;
}
.tag-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.tag-close img { width: 16px; height: 16px; pointer-events: none; }
.tag-close:hover { opacity: .8; }

.glass-select--drop-list--value {
    width: 100%;
    height: fit-content;
    padding: 5px 0px 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.glass-select--drop-list--value:hover {
    background-color: rgba(255, 255, 255, .15);
}
.glass-select--drop-list--value > h6 {
    font-size: 14px;
}

/* -------- */
.copy-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: flex;
}