.view-task-section {
    position: absolute;
    top: 0px;
    right: 0px;

    transition: all 1s ease;
}

.task-view-main-block {
    width: 660px;
    min-height: 400px;
    height: 100vh;
    max-height: 100vh;
    padding-left: 25px;
    box-sizing: border-box;   

    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow-y: auto;
}

.task-view--up-bar {
    width: 100%;
    height: fit-content;
    height: 20px;
    margin-top: 10px;
}

.task-view--settings, .task-view--main-info, .task-view--other-parameters {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.task-view--settings {
    gap: 5px;
}
.task-view--settings--overlay {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.settings-title {
    width: 100%;
    font-size: 12px;
    color: rgba(237, 236, 236, 0.73);
    overflow: hidden;
}

.task-view--main-info, .task-view--other-parameters {
    padding-right: 25px;
    box-sizing: border-box;
    gap: 5px;
}


.task-view--other-parameters {
    
}

.task-view--other-parameters--end-date, 
.task-view--other-parameters--start-date,
.task-view--other-parameters--status,
.task-view--other-parameters--sprint,
.task-view--other-parameters--tags {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.other-parameters--name {
    font-size: 14px;
    width: 170px;
}

/* ---------------------- */

.task-view--title-block {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 4px 8px;
    display: flex;
    align-items: start;
}

.task-view--title {
    font-size: 20px;
    width: 100%;
}

.parameter-title {
    font-size: 12px;
}

.parameter-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 70%;
}

.subtitle {
    font-size: 20px;
}

.task-view--subtasks-items {
    width: 100%;
    margin-top: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.task-view--subtask--title {
    width: 100%;
    font-size: 12px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;  
    cursor: initial;    
}

/* Комментарии и история */
/* ------------------ */
.comment-history-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.comment-history-tabs {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    position: relative;
}

#comment-tab, #history-tab {
    font-size: 18px;
    cursor: pointer;
}

#tab-indicator {
    border: none;
    outline: none;
    width: 122px;
    height: 3px;
    background-color: #6E7EE8;
    position: absolute;
    bottom: -2px;

    transition: all .5s ease;
    left: 0px;
}

.comment-section {
    margin: 10px 0px;
    margin-right: 25px;
}

.comment-field-block {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

/* Блок с текстом коммента */
/* .comments-list > .user-comment-block:nth-child(even) { */
.comments-list > .user-comment-block:nth-child(odd) {
    background-color: #FFFFFF33;
}
.user-comment-block {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: top;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.user-photo {
    height: 100%;
    width: 40px;
    margin: 0px 10px 10px 0px;
}
.user-comment {

}
.user-comment--title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.user-comment--title--name {
    font-size: 14px;
}
.user-comment--title--date {
    font-size: 12px;
    color: #edecec80;
}
.user-comment--text {
    margin-top: 12px;
    font-size: 14px;
}
