<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/first_app/css/common.css">
    <link rel="stylesheet" href="../static/first_app/css/calendar.css">
    <script src="../static/first_app/js/calendar.js"></script>
</head>
<body>
    <section class="main-section">
        <div class="calendar-section">

            <div class="calendar-main-block glass-block">
                <div class="waiter"></div>
                <div class="search-filter-block"></div>
                <div class="calendar-block">
                    <div class="calendar--days">
                        <div class="day-number">Пн, 10</div>
                        <div class="day-number">Вт, 11</div>
                        <div class="day-number">Ср, 12</div>
                        <div class="day-number">Чт, 13</div>
                        <div class="day-number">Пт, 14</div>
                        <div class="day-number">Сб, 15</div>
                        <div class="day-number">Вс, 16</div>
                    </div>
                    <div class="calendar--times">
                        <div class="calendar--times--rows">
                            <div class="calendar--row"><h6>00:00</h6><hr></div>
                            <div class="calendar--row"><h6>01:00</h6><hr></div>
                            <div class="calendar--row"><h6>02:00</h6><hr></div>
                            <div class="calendar--row"><h6>03:00</h6><hr></div>
                            <div class="calendar--row"><h6>04:00</h6><hr></div>
                            <div class="calendar--row"><h6>05:00</h6><hr></div>
                            <div class="calendar--row"><h6>06:00</h6><hr></div>
                            <div class="calendar--row"><h6>07:00</h6><hr></div>
                            <div class="calendar--row"><h6>08:00</h6><hr></div>
                            <div class="calendar--row"><h6>09:00</h6><hr></div>
                            <div class="calendar--row"><h6>10:00</h6><hr></div>
                            <div class="calendar--row"><h6>11:00</h6><hr></div>
                            <div class="calendar--row"><h6>12:00</h6><hr></div>
                            <div class="calendar--row"><h6>13:00</h6><hr></div>
                            <div class="calendar--row"><h6>14:00</h6><hr></div>
                            <div class="calendar--row"><h6>15:00</h6><hr></div>
                            <div class="calendar--row"><h6>16:00</h6><hr></div>
                            <div class="calendar--row"><h6>17:00</h6><hr></div>
                            <div class="calendar--row"><h6>18:00</h6><hr></div>
                            <div class="calendar--row"><h6>19:00</h6><hr></div>
                            <div class="calendar--row"><h6>20:00</h6><hr></div>
                            <div class="calendar--row"><h6>21:00</h6><hr></div>
                            <div class="calendar--row"><h6>22:00</h6><hr></div>
                            <div class="calendar--row"><h6>23:00</h6><hr></div>
                        </div>
                        <div class="calendar--times--columns">
                            <div class="time-column"></div>
                            <hr>
                            <div class="day-column" data-date="10.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="11.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="12.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="13.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="14.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="15.11.2025"></div>
                            <hr>
                            <div class="day-column" data-date="16.11.2025"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="menu-main-block">
            <div class="photo-and-menu-block">
                <div class="photo-block glass-block"></div>
                <div class="menu-block glass-block">
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Сферы жизни</h6>
                    </div>
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Все задачи</h6>
                    </div>
                    <div class="menu-item glass-block activate">
                        <h6 class="menu-item-title">Дни недели</h6>
                    </div>
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Аналитика</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>