<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/first_app/css/common.css">
    <link rel="stylesheet" href="../static/first_app/css/index.css">
</head>
<body>
    <section class="main-section">
        <div class="spheres-main-block">
            <div class="spheres-block">
                <div class="sphere-item glass-block">
                    <h6 class="sphere-item-title">Работа</h6>
                </div>
                <div class="sphere-item glass-block">
                    <h6 class="sphere-item-title">Семья</h6>
                </div>
                <div class="sphere-item glass-block">
                    <h6 class="sphere-item-title">Выезд</h6>
                </div>
                <div class="sphere-item glass-block">
                    <h6 class="sphere-item-title">Спорт</h6>
                </div>
                <div class="sphere-item glass-block">
                    <h6 class="sphere-item-title">Питание</h6>
                </div>
                <div class="sphere-item glass-block plus"></div>
            </div>
        </div>
        <div class="menu-main-block">
            <div class="photo-and-menu-block">
                <div class="photo-block glass-block"></div>
                <div class="menu-block glass-block">
                    <div class="menu-item glass-block activate">
                        <h6 class="menu-item-title">Сферы жизни</h6>
                    </div>
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Все задачи</h6>
                    </div>
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Дни недели</h6>
                    </div>
                    <div class="menu-item glass-block">
                        <h6 class="menu-item-title">Аналитика</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>